.my-button {
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    width: 150px;
    height: 50px;
    font-size: 16;
}
.my-button--primary{
    color: aqua;
    background-color: firebrick;
}
.my-button--bordered {
    background-color: none;
    color: black;
    border: 1px solid;
}